{% extends 'base.html' %}{% load static %}
{% block title %} Thycha Creatives | Contact Us{% endblock %}
{% block pagecontent %}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <section id="why-us" class="why-us">

        </section>
        <!-- End Why Us Section -->





        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container mt-5" data-aos="fade-up">

                <div class="text-center justify-content-center fw-100 p-5">
                    <h1>CONTACT</h1>
                    <p>Contact Us</p>
                </div>
            </div>

            <!-- <div data-aos="fade-up">
            <iframe style="border:0; width: 100%; h: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" allowfullscreen></iframe>
        </div> -->

            <div class="container" data-aos="fade-up">

                <div class="row mt-5">

                    <div class="col-lg-4 contact-address">
                        <div class="info">
                            <div class="address">
                                <i class="icon-map-marker"></i>
                                <h4>Location:</h4>
                                <p>CP-11/83 Kadiyangad palam.Changaroth,Kozhikode , <br> Kerala ,India
                                    -673525</p>
                            </div>

                            <div class="open-hours">
                                <i class="icon-time"></i>
                                <h4>Open Hours:</h4>
                                <p>
                                    Monday-Sunday:<br> 9:00 AM - 9:00 PM
                                </p>
                            </div>

                            <div class="email">
                                <i class="icon-envelope-alt"></i>
                                <h4>Email:</h4>
                                <p>
                                    thychacreatives@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="icon-phone"></i>
                                <h4>Call:</h4>
                                <p>8089265880 ,<br> 8089227880</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="" id="id_contact_form" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group mt-3">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Company Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 ">
                                    <input type="tel" class="form-control" name="email" id="email" placeholder="Phone "
                                        required>
                                </div>

                            </div>

                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="8" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading ">Loading</div>
                                <!-- <div class="error-message">Service temporarily Down, Please Use WhatsApp for contacting us</div>
                                <div class="sent-message ">Your message has been sent. Thank you!</div> -->
                            </div>
                            <div class="text-center"><button id="id_send_contact_form" type="submit">Send
                                    Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->
        <!-- start client gallery Section -->



    </section>



    <!-- End client gallery Section -->
    <!-- End About Section -->





</main>
<!-- End #main -->
{% csrf_token %}
{% endblock pagecontent %}
{% block extra_script %}
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#id_send_contact_form').on('click', function (e) {
        e.preventDefault()
        console.log('click');
        console.log($('#id_contact_form').serialize())
        // $.ajax({
        //     url:"",
        //     data:$('#id_contact_form').serialize(),
        //     method:"post",
        //     success:function (response){
        //         // swal({
        //         //     title: "Good job!",
        //         //     text: "The form has been submitted",
        //         //     icon: "success",
        //         //     button: "Ok",
        //         // });
        //         alert("Service temporarily Down, Please Use WhatsApp for contacting us")
        //         $('#id_contact_form')[0].reset();
        //     },
        //     error:function (err){
        //         alert("Something Error")

        //     }
        // })
        // alert("Service temporarily Down, Please Use WhatsApp for contacting us")
    })
</script>

{% endblock extra_script %}