<footer id="footer">
    {% load static %}
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-4">
                    <div class="footer-info">
                        <!-- <h3>Thycha Creatives</h3> -->
                        <img src="{% static 'img/logo/Thycha-Logo.png' %}" alt="">
                        <p>
                        <div class="address pl-5">
                            <i class="icon-map-marker pr-1"></i>
                            Location: <br> <br> CORPORATE ADDRESS
                            <p class="pt-1">CP-11/83 Kadiyangad palam.Changaroth,Kozhikode , <br> Kerala ,India
                                -673525</p>

                            <br> WORKING ADDRESS

                            <p class="pt-1">#1102, Level 1, HILITE Business Park, <br> Kozhikode, Kerala, India
                                - 673014 </p>
                        </div>
                        <br>
                        <div class="open-hours">
                            <i class="icon-time pr-1"></i>
                            Open Hours:
                            <p>
                                Monday-Sunday:<br> 24 Hours
                            </p>
                        </div>
                        <br>

                        </p>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="icon-angle-right"></i><a h4 href="{% url 'home:home'%}">Home</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="{% url 'home:about'%}">About us</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="{% url 'home:team'%}">Team</a></li>

                        <!--  <li><i class="icon-angle-right"></i> <a h4 href="#">Terms of service</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="#">Privacy policy</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 footer-links">
                    <h4>Connect With Us</h4>
                    <ul>

                        <!-- <li><i class="icon-angle-right"></i> <a h4 href="#">Marketing</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="#">Graphic Design</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="#">Marketing</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="#">Graphic Design</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="#">Marketing</a></li>
                        <li><i class="icon-angle-right"></i> <a h4 href="#">Graphic Design</a></li> -->
                        <div class="email">
                            <i class="icon-envelope-alt pr-1"></i>
                            Email:
                            <a href="mailto: thychacreatives@gmail.com">thychacreatives@gmail.com</a>

                        </div>
                        <br>
                        <div class="phone">
                            <i class="icon-phone pr-1"></i>
                            Call:
                            <p>8089265880 , 8089227880</p>

                        </div>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                            <a href="#" class="instagram"><i class="icon-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                        </div>

                    </ul>
                </div>

                <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4 h4>Our Newsletter</h4>
                    <p h4>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe" h4>
                    </form>
                </div> -->

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright ">
            &copy; Copyright <strong><span>Thycha Creatives</span></strong>. All Rights Reserved
        </div>

    </div>
</footer>
<!-- End Footer -->