{% extends 'base.html' %}
{% block title %} Thycha Creatives {% endblock %}
{% block pagecontent %}
{% load static %}


<div id="particles-js">
    <div class="count-particles"> <span class="js-count-particles">--</span></div>
    <div class="welcome">
        <div class="row align-items-center ml-5 " data-aos="fade-up" data-aos-delay="100">

            <h1 class="Center">Brand Your Business Now</h1>
            <h2 class="Center">Brand your brands to the Extent that, they become a Superbrand</h2>




        </div>
    </div>
</div>

<!-- ======= Gallery Section ======= -->
<section id="hero" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="text-center align-items-center">
            <h2 h4>WORK</h2>
            <a class="btn filter-button " data-filter="All"><span class="material-symbols-outlined p-3">
                    apps <h6 h4>All</h6></a>
            </span>
            <a class="btn filter-button " data-filter="print"><span class="material-symbols-outlined p-3">
                    print<h6 h4>print</h6></a>
            </span>
            <a class="btn filter-button " data-filter="packaging"><span class="material-symbols-outlined p-3">
                    package<h6 h4>Packaging</h6></a>
            </span>
            <a class="btn filter-button " data-filter="illust"><span class="material-symbols-outlined p-3">
                    draw<h6 h4>Illustration</h6></a>
            </span>
            <a class="btn filter-button " data-filter="digi"><span class="material-symbols-outlined p-3">
                    auto_awesome_mosaic<h6 h4>Digital</h6></a>
            </span>
            <a class="btn filter-button " data-filter="brands"><span class="material-symbols-outlined p-3">
                    glyphs<h6 h4>Branding</h6></a>
            </span>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up">

        <div class="row g-0">

            <!-- Images with description example -->
            <!-- <section class="section pair">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </section> -->

            <div class="col-lg-3 col-md-4 filter broch">
                <div class="gallery-item">
                    <ul class="box-container">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-01.jpg' %}" class="glightbox2"
                                    data-glightbox="title: NAUSHIK ASSOCIATES ; description: .custom-desc1; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-01.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc1">
                                    <p>
                                        Naushik Associates is a leading real estate developer headquartered in
                                        Calicut.
                                    </p>
                                    <p>
                                        We shaped their effective and pocket friendly informative and promotional
                                        description book. Which is the brochure. We created a powerful and effective
                                        brochure that can educate its readers, convey credibility and authority, and
                                        persuade consumers to take action.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter broch">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-11.jpg' %}" class="glightbox2"
                                    data-glightbox="title: RULE ONE GYM ; description: .custom-desc2; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-11.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc2">
                                    <p>
                                        We at Thycha creatives are proud to partner with Rule one Gym Company for
                                        helping to promote their commitment to fitness, health, and safety. We have
                                        done their brochure content very effectively.
                                    </p>
                                    <p>
                                        The brochure conveys a sense of excitement and energy about Rule One Gym
                                        Company and also provides clear and concise information about what sets them
                                        apart from other gyms. We have created a well-designed brochure that serves
                                        as a perfect introduction to their business.
                                        Accurately distributed, brochures expand the company’s visibility.
                                    <P>We designed it as a great marketing tool when reaching out to new customers.
                                        We also emphasized making brochures an excellent promotional tool that
                                        distinguishes Rule One from other competitors. So that It helps in promoting
                                        brand awareness among targeted audiences.</P>
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter packaging">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-02.jpg' %}" class="glightbox2"
                                    data-glightbox="title: SHOP WITH AMBRO; description: .custom-desc3; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-02.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc3">
                                    <p>
                                        We have packaged the Ambro's Baklava sweet box. The client demanded a simple
                                        but elegant and classy look for the sweet box.
                                    </p>
                                    <p>
                                        The sweet is of premium quality, so the packaging should also be of premium
                                        quality. We have designed the cover with great effort and astonishing
                                        creativity. We gave the sweet box a stunning look with the best quality
                                        drawing. We ensured safety, enhanced usability, attractive looks, and
                                        optimal design for the packaging.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter broch">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-12.jpg' %}" class="glightbox2"
                                    data-glightbox="title: HONEY SPECIAL CAKE; description: .custom-desc4; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-12.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc4">
                                    <p>
                                        Honey special cake is Qatar based bakery. Thycha creatives ensured that
                                        their catalog has the best design with an artistic approach.
                                    </p>
                                    <p>
                                        We created their catalog in a very attractive way to allure their customers
                                        towards the yummy cakes and pastries. it is a great marketing and
                                        advertising tool. Catalogs are one of the most cost-effective ways to market
                                        your business, and they don’t require heavy investments.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter brands">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-03.jpg' %}" class="glightbox2"
                                    data-glightbox="title: MARITAL HUB; description: .custom-desc5; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-03.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc5">
                                    <p>
                                        The marital hub is a bridal boutique that offers all options for brides.
                                    </p>
                                    <p>
                                        We have designed their logo, which symbolizes their first two letters (M and
                                        H) and the identity of their boutique jewels and other accessories. We
                                        focused to provide uniqueness with creativity and innovative idea for their
                                        works. Logo design provides a real look for their boutique.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter broch">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-13.jpg' %}" class="glightbox2"
                                    data-glightbox="title: FRESH DAY TO DAY; description: .custom-desc6; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-13.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc6">
                                    <p>
                                        Every creative design tells a story. We designed the brochure for ' Fresh
                                        day to day brand.
                                    </p>
                                    <p>
                                        Through the well-designed brochure, we have showcased products and services
                                        in their best light, answering any questions a potential customer may have.
                                        We helped them to develop new ways of improving their existing product and
                                        service to optimize the business.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter brands">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-04.jpg' %}" class="glightbox2"
                                    data-glightbox="title: INNOVIC INTERIORS; description: .custom-desc7; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-04.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc7">
                                    <p>
                                        Innovic interiors are interior designing firm headquartered in Calicut. We
                                        have done their rebranding. We have redesigned their logo.
                                    </p>
                                    <p>
                                        Through the first two letters of their brand I and N, we created the motive
                                        behind their institution, an interior designing company. By combining two
                                        letters (I and N)we created the meaning, inside (IN) portion of a home,
                                        which is the interior that is innovic. Innovic stands for interior
                                        designing.
                                        The letter N represents a dual meaning that, an opened door of a house
                                        implies that they are related to the interior works and also their brands
                                        aim to open the doors of their client's dreams through their designs.

                                    </p>
                                    <P>We selected the most suited colours for their logo design. Yellow is the
                                        finishing touch colour, which indicates happiness, hope, optimism, energy
                                        and joy. By selecting yellow colour we ensure these qualities in their work.
                                        By selecting white as their main colour, it evokes the ideas of purity,
                                        simplicity, and cleanliness which is very important in design.</P>
                                    <P>Hence through their logo pattern and color selection, we make their company
                                        unique by expressing their objectives.</P>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter broch">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-14.jpg' %}" class="glightbox2"
                                    data-glightbox="title: BLUE BELL; description: .custom-desc8; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-14.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc8">
                                    <p>
                                        Thycha creatives have worked closely with Blue Bell to create a brochure
                                        that effectively communicates the company's message and brand identity.
                                        Bluebell is a jewelry shop with an amazing collection.
                                    </p>
                                    <p>
                                        The brochure features high-quality images of Blue Bell's jewelry, along with
                                        descriptions of each piece and its unique features. We have designed the
                                        brochure according to the client's demands and enhanced it with our
                                        Charismatic creativity.
                                    </p>
                                    <P>It's important to do a background check and good research on clients'
                                        business development to create and promote their brands. We have worked hard
                                        to enhance the attractiveness of the brochure, because jewelry is all about
                                        quality products with diverse options.</P>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter brands">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-05.jpg' %}" class="glightbox2"
                                    data-glightbox="title: EMIRATES POWERLINK; description: .custom-desc9; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-05.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc9">
                                    <p>
                                        Emirates Powerlink Electromechanical LLC is an Abu Dhabi based MEP
                                        contracting company. We have created a logo design that indicates their core
                                        values and vibrancy. A well-designed logo should convey your qualities,
                                        integrity, and brand identity.
                                    </p>
                                    <p>
                                        We also developed a website for them. We tried to build the first impression
                                        of their clients through the website should be unforgettable. We have an
                                        effective website design that fulfills its intended function by conveying
                                        its particular message whilst simultaneously engaging the visitor. We used
                                        the factors like consistency, colors, typography, imagery, simplicity, and
                                        functionality very effectively to make it simple yet powerful.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter broch">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-15.jpg' %}" class="glightbox2"
                                    data-glightbox="title: MEHFIL MANDI; description: .custom-desc10; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-15.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc10">
                                    <p>
                                        The Mehfil Mandi brochure, designed by Thycha Creatives, is a delightful
                                        visual representation of the exquisite culinary experience that awaits you
                                        at these food shops.
                                    </p>
                                    <p>
                                        The brochure showcases a wide array of dishes, each one presented with
                                        suitable photography and captivating descriptions that you can almost taste
                                        the flavors on your tongue. the menu will show you what types of food are
                                        available and how much you can expect to pay for each one, but every real
                                        restaurant knows that the menu offers so much more than that as long as you
                                        do it right.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter brands">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-06.jpg' %}" class="glightbox2"
                                    data-glightbox="title: NEXUS:English Learning Academy; description: .custom-desc11; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-06.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc11">
                                    <p>
                                        The Nexus logo, created by the talented team at Thycha Creatives, is a
                                        dynamic and modern representation of their commitment to providing English
                                        language education. Nexus is a learning academy, where they asked for a
                                        vibrant option for their logo.
                                    </p>
                                    <p>
                                        We have done their design with the best design team to help their company to
                                        achieve prominence and distinction amongst the customer base. We created a
                                        design that grabs attention and makes a great first impression among their
                                        clients. The logo serves as a familiar symbol that coveys trustworthiness,
                                        accessibility, and quality education, which is the main objective of Nexus
                                        English learning academy.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter broch digi">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-16.jpg' %}" class="glightbox2"
                                    data-glightbox="title: AL RUBA; description: .custom-desc12; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-16.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc12">
                                    <p>
                                        Al Ruba fried chicken masala is a food production company exclusively for
                                        fried chicken masala. We have done their brochure content very effectively.

                                    </p>
                                    <p>
                                        We are currently doing all their campaigns and creative posters, videos, and
                                        motion videos. We selected a variety pattern other than the usual food power
                                        mix campaigns. We researched and identified their marketplace and value and
                                        introduced their marketing strategies accordingly.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 filter brands">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-07.jpg' %}" class="glightbox2"
                                    data-glightbox="title: CAMILY; description: .custom-desc13; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-07.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc13">
                                    <p>
                                        Camily is a prominent bag manufacturing company. Their logo has the Thycha
                                        creatives touch.
                                    </p>
                                    <p>
                                        We created their logo with an aesthetic look by fulfilling all their
                                        requirements. We used wordmark logotype which is a font-based logo that
                                        focuses on a business name alone. It gives a simple but powerful look to the
                                        logo design.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter brands">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-10.jpg' %}" class="glightbox2"
                                    data-glightbox="title: AVIL STORIES; description: .custom-desc14; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-10.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc14">
                                    <p>
                                        We have branded 'Avil stories' and an exclusive shop for avil milk and
                                        others. We presented a unique logo design for the avil stories.
                                        We selected the calligraphy method for the logo, to make the both name and
                                        logo of the shop itself a remarkable brand. It makes people identify the
                                        brand easily because it's unique and visually vibrant.
                                    </p>
                                    <p>
                                        The logo represents the motive and legacy behind the concept of the shop. It
                                        is presented in flavors of colors so that it reassembles the flavors and
                                        taste of avil milk.
                                    </p>
                                    <P>Logomark includes a storytelling clipart, which is to establish that our shop
                                        has a traditional story to tell. The unremarkable taste and love from our
                                        old generations are mentioned here as the logo mark. We always say that old
                                        is gold.</P>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter brands digi">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-18.jpg' %}" class="glightbox2"
                                    data-glightbox="title: BK CLUB; description: .custom-desc15; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-18.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc15">
                                    <p>
                                        We branded the business Kerala club with the best coordination. We have
                                        designed their logo, branding, brochure with innovative ideas and presented
                                        it with novelty.
                                    </p>
                                    <p>
                                        <!-- <a href="http://google.com" target="_blank"
                                            style="text-decoration: underline; font-weight: bold">Example Google
                                            link</a>
                                        ipsum vehicula eros ultrices lacinia Vestibulum ante ipsum primis in
                                        faucibus orci luctus et ultrices posuere cubilia Curae Duis quis ipsum
                                        vehicula eros ultrices lacinia.
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere -->

                                        We are currently running their campaigns successfully. As mentioned the logo
                                        concept is very unique by delivering the organization's identity. Thycha
                                        creatives always stands with alluring creative design ideas and you can see
                                        it in our works
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 filter brands">
                <div class="gallery-item">
                    <ul class="box-container ">

                        <li class="box">
                            <div class="inner">
                                <a href="{% static 'img/gallery/Portfolio 800x600-09.jpg' %}" class="glightbox2 bold"
                                    data-glightbox="title: CRISPIKART; description: .custom-desc16; descPosition: right;">
                                    <img src="{% static 'img/gallery/Portfolio 800x600-09.jpg' %}" alt="image" />
                                </a>

                                <div class="glightbox-desc custom-desc16">
                                    <p>
                                        We designed the entire launching work for crispikart. Crispikart is a food
                                        delivery app.
                                    </p>
                                    <p>
                                        We have done the logo design, branding, advertisements, and many more for
                                        crispikart. Giving a relatable but unique logo design to crispikart, we have
                                        started its journey very beautifully. Our client is very satisfied with the
                                        work and it gives us the fuel to run forward.
                                    </p>
                                    <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">
                                        <p class="text-light">View Our Work</p>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="learnmore">
                <a href="{% url 'home:portfolio'%}" class="btn btn-dark mt-5" role="button">View More </a>
            </div>
        </div>

    </div>
</section>
<!-- End Gallery Section -->


<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container-xxl py-5 " data-aos="fade-up" data-aos-delay="100">
                <h1 class=" position-relative text-center p-5 ">CAPABILITIES</h1>
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="0.1s">
                            <div class="service-item position-relative overflow-hidden  d-flex h-100 p-5 ps-0">
                                <div class="ps-4 ">
                                    <h4 class="text-uppercase mb-3 ">BRANDING</h4>
                                    <p class="capabilities ">Making the key to your success is our motive. We add
                                        creative secret ingredients to your branding to make it unique and stand out
                                        from the ordinary.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item position-relative overflow-hidden  d-flex h-100 p-5 ps-0">
                                <div class="ps-4 ">
                                    <h4 class="text-uppercase mb-3 ">Creative designs </h4>
                                    <p class="capabilities">We give utmost importance and uniqueness to each design
                                        to carve out its niche and speak to its target audience in a way that, it
                                        will change into a sensation.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item position-relative overflow-hidden  d-flex h-100 p-5 ps-0">
                                <div class="ps-4 ">
                                    <h4 class="text-uppercase mb-3 ">Social media marketing</h4>
                                    <p class="capabilities">We leverage the limitless power of social media
                                        positively to ensure the growth and updation of our clients.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item position-relative overflow-hidden d-flex h-100 p-5 ps-0">
                                <div class="ps-4 ">
                                    <h4 class="text-uppercase ">Ad campaigns </h4>
                                    <p class="capabilities">We are ready to pave the way for business with
                                        enterprising thoughts and are assuring you that you will be able to achieve
                                        the epitome of your progression.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item position-relative overflow-hidden  d-flex h-100 p-5 ps-0">
                                <div class="ps-4 ">
                                    <h4 class="text-uppercase ">Web design
                                    </h4>
                                    <p class="capabilities">Creating and developing accurate design and content to
                                        assure the credibility of our client is our focus. We offer the user
                                        convenience and the latest updates with valuable content so that, they can
                                        elevate their growth.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item position-relative overflow-hidden  d-flex h-100 p-5 ps-0">
                                <div class="ps-4 ">
                                    <h4 class="text-uppercase ">Packaging </h4>
                                    <p class="capabilities">We are ensured to make the best impression on our
                                        client's customers so that their marketing should stand out of the ordinary.
                                        We can shape the way companies package their products. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- End Specials Section -->






        <!-- ======= Chefs Section ======= -->
        <!-- <section id="chefs" class="chefs">
            <div class="container" data-aos="fade-up">
                <div class="text-center mx-auto mb-5 wow fadeInUp tex" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="text-uppercase">Team</h1>
                    <p>Our Team Members</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                          <a href="">  <img src="assets/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Walter White</h4>
                                    <span>Master Chef</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <a href="">    <img src="assets/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Sarah Jhonson</h4>
                                    <span>Patissier</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            <a href="">    <img src="assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>William Anderson</h4>
                                    <span>Cook</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->


        <!-- End Chefs Section -->




        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="text-center justify-content-center fw-100 pt-5 ">
                    <h1 h4>OUR CLIENTS</h1>
                    <!-- <p h4>Contact Us</p> -->
                </div>
            </div>
            <!-- <div class="container" data-aos="fade-up">
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="address">
                                    <i class="icon-map-marker"></i>
                                    <h4 class="one">Location:</h4>
                                    <p class="eight">#1102, Level 1, HiLITE Business Park, <br> Kozhikode, Kerala, India
                                        - 673014 </p>
                                </div>
                                <div class="open-hours">
                                    <i class="icon-time"></i>
                                    <h4 class="one">Open Hours:</h4>
                                    <p class="eight">
                                        Monday-Saturday:<br> 11:00 AM - 2300 PM
                                    </p>
                                </div>
                                <div class="email">
                                    <i class="icon-envelope-alt"></i>
                                    <h4 class="one">Email:</h4>
                                    <p class="eight">
                                        thychacreatives@gmail.com</p>
                                </div>
                                <div class="phone">
                                    <i class="icon-phone"></i>
                                    <h4 class="one">Call:</h4>
                                    <p class="eight">+1 5589 55488 55s</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 mt-5 mt-lg-0">
                            <form action="forms/contact.php" method="post" role="form" class="php-email-form ">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="name" class="form-control " id="name"
                                            placeholder="Your Name" required>
                                    </div>
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <input type="email" class="form-control " name="email" id="email"
                                            placeholder="Your Email" required>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control " name="subject" id="subject"
                                        placeholder="Subject" required>
                                </div>
                                <div class="form-group mt-3">
                                    <textarea class="form-control " name="message" rows="8" placeholder="Message"
                                        required></textarea>
                                </div>
                                <div class="my-3">
                                    <div class="loading ">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message ">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center "><button type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>
                </div> -->
        </section>
        <!-- End Contact Section -->
        <!-- start client gallery Section -->


        <div class="container ">

            <section class="customer-logos slider">
                <div class="slide"><img src="{% static 'img/clients/client-1.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-2.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-3.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-4.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-5.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-6.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-7.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-8.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-9.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-10.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-11.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-12.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-13.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-14.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-15.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-16.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-17.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-18.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-19.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-20.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-21.png' %}"></div>
                <div class="slide"><img src="{% static 'img/clients/client-22.png' %}"></div>

            </section>
        </div>
    </section>
    <!-- End client gallery Section -->
    <!-- End About Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->

<!-- End Footer -->



{% endblock pagecontent %}